@charset "UTF-8";
/*                                  FOTOGRAFIA */
/*                                  ILUSTRACION */
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../media/papyrus.png); }

/*                                FUENTES */
.titulosPaginas {
  font-family: 'Hina Mincho', serif;
  text-align: center;
  color: #E85D04;
  font-size: 4em; }

#tituloPrincipal {
  font-family: 'Allison', cursive;
  text-align: center;
  color: #DC2F02;
  font-size: 7em; }

.tituloSecundario {
  font-family: 'Hina Mincho', serif;
  text-align: center;
  color: #370617;
  font-size: 2.5em; }

.textoArticulo {
  color: #6A040F;
  font-family: 'Abel', sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
  text-align: justify; }

/*                                      FIN FUENTES */
/*                                      HEADER Y FOOTER */
.barra {
  background-image: linear-gradient(to bottom, #ffb908, #F48C06);
  font-family: 'Hina Mincho', serif;
  color: #03071E;
  font-size: 20px; }

footer {
  display: flex;
  justify-content: space-between; }
  footer p {
    color: #4e3380;
    margin-left: 15px; }
  footer a {
    text-decoration: none;
    margin-right: 15px; }
    footer a img {
      margin-top: 5px; }

/*                                   FIN HEADER Y FOOTER */
/*                                   INICIO */
.gridInicio {
  display: grid;
  margin: 20px 0px 5px 0px;
  width: 100%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 10% 70%;
  justify-content: center;
  justify-items: center;
  grid-template-areas: "titulo titulo" "foto subtitulo" "foto texto"; }
  .gridInicio h1 {
    grid-area: titulo; }
  .gridInicio h2 {
    grid-area: subtitulo;
    justify-self: left; }
  .gridInicio img {
    grid-area: foto; }
  .gridInicio div {
    grid-area: texto;
    padding-right: 15px; }
    .gridInicio div p {
      text-align: left; }

.formularioInicio {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-areas: ". s1 s2 ."; }
  .formularioInicio h3 {
    grid-area: s1; }
  .formularioInicio form {
    grid-area: s2; }

/*                                      FIN INICIO */
/*                                   DISEÑO */
.contenedorDisenio {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .contenedorDisenio img {
    height: 200px;
    width: 200px;
    object-fit: cover; }

.saltoLineaFlex {
  width: 100%;
  height: 0%;
  display: none; }

.imgPequenia img {
  height: 150px;
  width: 150px; }

.videoIndumentaria {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; }

/*                                  FIN DISEÑO */
/*                                  DOCENCIA   */
.articuloFlex {
  display: flex;
  margin: 5px 10px;
  align-items: center;
  justify-content: space-between; }

.fotoDocencia img {
  object-fit: cover;
  height: 337.5px;
  width: 525px;
  margin: 5px; }

.contenedorDocencia table {
  margin-left: 0px; }

.contenedorDocencia .textoArticulo {
  text-align: center; }

.contenedorDocencia table, .contenedorDocencia th, .contenedorDocencia td {
  border: 1px solid #4d0f0f; }

.tituloLista {
  color: #d37282; }

table td {
  color: #8a4a55; }

/*                                  FIN DOCENCIA */
/*                                      FOTOGRAFIA */
.galeriaFotos {
  display: grid;
  padding: 5px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  justify-content: space-around; }
  .galeriaFotos img {
    object-fit: cover;
    width: 325px;
    height: 325px;
    margin: 15px auto 15px auto; }

/*                                   FIN FOTOGRAFIA */
/*                                   ILUSTRACION */
.galeriaIlustracion {
  display: grid;
  margin: 5px;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 50% 50%;
  justify-content: space-around; }
  .galeriaIlustracion img {
    object-fit: fill;
    width: 230px;
    height: 250px;
    margin-bottom: 15px;
    margin-top: 15px; }

/*                                  FIN ILUSTRACION */
/*                                                        RESPONSIVE  HASTA 992px */
@media only screen and (max-width: 992px) {
  /*                                              INICIO */
  .gridInicio {
    grid-template-areas: "titulo titulo" "subtitulo subtitulo" "foto foto" "texto texto"; }
    .gridInicio h2 {
      justify-self: center; }
    .gridInicio div {
      margin-top: 10px; }
  .formularioInicio {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 30% 70%;
    grid-template-areas: ". s1 ." ". s2 ."; }
    .formularioInicio form {
      text-align: center; }
  /*                                               DISEÑO */
  .contenedorDisenio {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .imgPequenia img {
    height: 200px;
    width: 200px;
    object-fit: cover; }
  .saltoLineaFlex {
    display: block;
    margin-top: 15px; }
  .videoIndumentaria iframe {
    width: 590px; }
  /*                                            DOCENCIA */
  .articuloFlex {
    flex-wrap: wrap;
    justify-content: center; }
  /*                                              FOTOGRAFIA */
  .galeriaFotos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
    .galeriaFotos img {
      height: 292.5px;
      width: 292.5px; }
  /*                                              ILUSTRACION */
  .galeriaIlustracion {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25%);
    align-items: center;
    justify-items: center; } }

/*                                                        RESPONSIVE  HASTA 600px */
@media only screen and (max-width: 600px) {
  /*                                    DISEÑO */
  .contenedorDisenio {
    flex-direction: column; }
    .contenedorDisenio img {
      margin-bottom: 10px; }
  .saltoLineaFlex {
    display: none; }
  /*                                   DOCENCIA */
  .fotoDocencia img {
    height: 225px;
    width: 350px; }
  /*                                  FOTOGRAFIA */
  .galeriaFotos {
    grid-template-columns: 1fr; }
  /*                                  FOTOGRAFIA */
  .galeriaIlustracion img {
    height: 187.5px;
    width: 172.5px; } }
