
/*                                  FOTOGRAFIA */
$pxImgFotoL: 325px;
$pxImgFotoM: $pxImgFotoL * 0.9;

/*                                  ILUSTRACION */

$imgIlusAltoL: 250px;
$imgIlusAnchoL: 230px;

$imgIlusAltoS: $imgIlusAltoL * 0.75;
$imgIlusAnchoS: $imgIlusAnchoL * 0.75;
